[viewBag]
snippetCode = "betterplace-campaigns"
snippetName = "Betterplace Campaigns"
==
<?php
function onStart()
{
    $betterplaceProject = file_get_contents('https://api.betterplace.org/de/api_v4/projects/14895.json');
    $bpPrjJson = json_decode($betterplaceProject, true);
    $this['bpPrjJson'] = $bpPrjJson;
    $betterplaceNeeds = file_get_contents('https://api.betterplace.org/de/api_v4/projects/14895/needs.json');
    $bpNeedsJson = json_decode($betterplaceNeeds, true);
    
    $this['bpProgressPercentage'] = $bpPrjJson['progress_percentage'];
    $this['bpOpenAmount'] = $bpPrjJson['open_amount_in_cents'];
    $this['bpIncompleteNeedCount'] = $bpPrjJson['incomplete_need_count'];
    $this['bpCompletedNeedCount'] = $bpPrjJson['completed_need_count'];
    foreach($bpPrjJson['links'] as $links) {
        if ($links['rel'] == 'platform') {
            $this['bpPlatformLink'] = $links['href'];
        } elseif ($links['rel'] == 'new_donation' ) {
            $this['bpDonationLink'] = $links['href'];
        }
    }
    
    $this['bpNeeds'] = $bpNeedsJson['data'];
}
?>
==
<h2>Laufende Kampagnen</h2>
{% for need in bpNeeds if need.completed == false %}

<dl>
	<dt>{{ need.title }}</dt>
	<dd>
	{% set donation_link = '' %}
	{% for link in need.links if link.rel == 'new_donation' %}
	    {% set donation_link = link.href %}
	{% endfor %}

		<p>{{ need.progress_percentage }} % des Betrages sind schon gespendet:</p>
		<a href="{{ donation_link }}" target="_blank">
			<div class="progress">
				<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ need.progress_percentage }}" class="progress-bar" style="width: {{ need.progress_percentage }}%;">noch <strong>{{ need.open_amount_in_cents // 100 }} €</strong></div></div>
		</a>

		<p>{{ need.donated_amount_in_cents // 100 }} € von {{ need.requested_amount_in_cents // 100 }} € erreicht - <a href="{{ donation_link }}" target="_blank">Spende für diesen Bedarf</a></p>
	</dd>
</dl>
{% endfor %}